Source: rbfeeder
Section: misc
Priority: optional
Maintainer: Airnav Systems <dev@airnavsystems.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.radarbox24.com
Vcs-Git: https://github.com/AirNav-Systems/rbfeeder
Vcs-Browser: https://github.com/AirNav-Systems/rbfeeder

Package: rbfeeder
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd, dh-sysuser
Description: Software for uploading ADS-B data to RadarBox24.com
 This software is used for sending ADS-B data to RadarBox24.com
 website. 
